<div class="dialog-container">
  <h2 mat-dialog-title>Edit ToDo</h2>
  <mat-dialog-content class="dialog-content">
    <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
      <div class="field">
          <div class="control">
              <input
                  type="text"
                  class="input"
                  [ngModel]="todo.description"
                  #input="ngModel"
                  name="text"
                  required
                  minlength="2"
                  placeholder="Type todo text here...">
          </div>
          <div class="invalid-text" *ngIf="input.invalid">
            <p class="help is-danger" *ngIf="input.errors?.['required']">Please enter the text of your todo</p>
            <p class="help is-danger" *ngIf="input.errors?.['minlength']">Todo text must be at least 2 characters</p>
          </div>
          <mat-dialog-actions>
            <button mat-button mat-dialog-close>Close</button>
            <button mat-button type="submit">Save</button>
          </mat-dialog-actions>
      </div>
    </form>
  </mat-dialog-content>
</div>

