<section class="heading-section">
  <h1 class="titleHeader">ToDo List</h1>
</section>

<mat-card class="container-box">
  <mat-card-content>
    <div class="toDoBox">
      <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
        <h2 class="subtitleHeader">New ToDo</h2>

        <div class="toDoTextField">
          <input type="text" name="text" ngModel #input = "ngModel" required minlength="2" placeholder="Type toDo text here ...">
          <button type="submit" class="addToDoButton">Add</button>
        </div>
        <div class="invalid-text" *ngIf="input.invalid && showValidationErrors">
          <p class="help is-danger" *ngIf="input.errors?.['required']">Please enter the text of your todo</p>
          <p class="help is-danger" *ngIf="input.errors?.['minlength']">Todo text must be at least 2 characters</p>
        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>
<section class="section">
  <div class="container">
    <div class="todos-list">
      <app-item
        *ngFor="let todo of todo"
        [todo]="todo"
        (todoChanged)="toggleCompleted(todo)"
        (infoClicked)="navigateToDetails(todo)"
      ></app-item>
    </div>
  </div>
</section>



