:host{
  .heading-section{
    padding: 100px;
    padding-bottom: 100px;
    background: linear-gradient(to right, rgb(2, 228, 171), rgb(74, 215, 240));

    .detailHeader {
      font-weight: bold;
      text-align: center;
      margin-top: 10px;
      color: white;
          text-shadow: 0px 1px 2px rgba(black, 0.12);

    }
  }
  .mat-card{
    margin-left: 300px;
    margin-right: 300px;
    margin-top: -50px;
  }
  .description{
    font-weight:bold;
    text-align: center;
  }
  .done-Date-Description{
    font-weight:inherit;
  }
  .detail-container{
    margin-left: 200px;
    margin-right: 200px;
  }
  .button-container{
    text-align: center;
  }
  .delete-button{
    margin: 10px;
  }
}
